body {
    margin: 0 auto;
    box-sizing: border-box;
    width: 95%;
}

header{
    width: 100%;
    display: flex;
}

.container-logo{
    display: flex;
}

.nav-container {
    display: flex;
    align-items: ;
}