body {
    margin: 0 auto;
    box-sizing: border-box;
    width: 95%;
}

header{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.container-logo{
    display: flex;
}

.nav-link-container {
    display: flex;
    
}